jg.Editor/jg.Editor/Service References/MINIService/jg.Mes.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/jg.Mes.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/jg.Mes.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultMessage" nillable="true" type="tns:FaultMessage" />
  <xs:complexType name="CustomFileInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currentData" nillable="true" type="xs:base64Binary" />
      <xs:element name="currentLen" type="xs:long" />
      <xs:element name="currentOffset" type="xs:long" />
      <xs:element name="fileLength" type="xs:long" />
      <xs:element name="fileName" nillable="true" type="xs:string" />
      <xs:element name="serverPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFileInfo" nillable="true" type="tns:CustomFileInfo" />
</xs:schema>