jg.Editor/jg.Editor/Service References/MINIService/Mes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.jingge.com/Mes" elementFormDefault="qualified" targetNamespace="http://www.jingge.com/Mes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/jg.Mes.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/jg.Mes.Service" />
  <xs:element name="DeleteTReplyInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTReplyInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTReplyInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTReplyInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTReplyInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTReplyInfoListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTReplyInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q1:TReplyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTReplyInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTReplyInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTJudgeInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTJudgeInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetTJudgeInfoInfoResult" nillable="true" type="q2:ArrayOfTJudgeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTJudgeInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q3:TJudgeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTJudgeInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTJudgeInfoInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTJudgeInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTJudgeInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTJudgeInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTJudgeInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTJudgeInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTJudgeInfoListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTJudgeInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q4:TJudgeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTJudgeInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTJudgeInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTStudentBBSInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTStudentBBSInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetTStudentBBSInfoInfoResult" nillable="true" type="q5:ArrayOfTStudentBBSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTStudentBBSInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q6:TStudentBBSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTStudentBBSInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTStudentBBSInfoInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTStudentBBSInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTStudentBBSInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTStudentBBSInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTStudentBBSInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTStudentBBSInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTStudentBBSInfoListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTStudentBBSInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q7:TStudentBBSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTStudentBBSInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTStudentBBSInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTTeacherBBSInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTTeacherBBSInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetTTeacherBBSInfoInfoResult" nillable="true" type="q8:ArrayOfTTeacherBBSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTTeacherBBSInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q9:TTeacherBBSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTTeacherBBSInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTTeacherBBSInfoInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTTeacherBBSInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTTeacherBBSInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTTeacherBBSInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTTeacherBBSInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTTeacherBBSInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTTeacherBBSInfoListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTTeacherBBSInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q10:TTeacherBBSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTTeacherBBSInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTTeacherBBSInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityUIInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityUIInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetAuthorityUIInfoResult" nillable="true" type="q11:ArrayOfCPDPM_AuthorityUI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLoginListResult" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Loignsend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="UID" nillable="true" type="q13:CPDPM_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="UID" nillable="true" type="q14:CPDPM_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="UID" nillable="true" type="q15:CPDPM_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloException">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloFaultException">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloFaultExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloFaultExceptionGeneric">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloFaultExceptionGenericResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloIErrorHandler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloIErrorHandlerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_LogName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User_PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="LoginResult" nillable="true" type="q16:CPDPM_User" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="LoginStudentResult" nillable="true" type="q17:StudentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlBackupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemLogInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemLogInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetSystemLogInfoResult" nillable="true" type="q18:ArrayOfSystemLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSystemLogInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q19:SystemLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSystemLogInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSystemLogInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AuthorityId" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetAuthorityInfoResult" nillable="true" type="q21:ArrayOfAuthorityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole_AuthorityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole_AuthorityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetRole_AuthorityInfoResult" nillable="true" type="q22:ArrayOfRole_AuthorityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetRoleInfoResult" nillable="true" type="q23:ArrayOfRoleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionary_BusinessInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionary_BusinessInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetDictionary_BusinessInfoResult" nillable="true" type="q24:ArrayOfDictionary_BusinessInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionary_PositionalTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionary_PositionalTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetDictionary_PositionalTitleResult" nillable="true" type="q25:ArrayOfDictionary_PositionalTitleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcademicYearInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcademicYearInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetAcademicYearInfoResult" nillable="true" type="q26:ArrayOfAcademicYearInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q27:RoleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRoleInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoleInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoleListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q28:RoleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRoleInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetEmployeeInfoResult" nillable="true" type="q29:ArrayOfEmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q30:EmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmployeeInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q31:EmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployeeInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee_classInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee_classInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetEmployee_classInfoResult" nillable="true" type="q32:ArrayOfEmployee_ClassInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetDepartmentInfoResult" nillable="true" type="q33:ArrayOfDepartmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepartmentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q34:DepartmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepartmentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDepartmentInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDepartmentInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDepartmentListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartmentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q35:DepartmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartmentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDepartmentInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetClassInfoResult" nillable="true" type="q36:ArrayOfClassInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClassInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q37:ClassInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClassInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertClassInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClassInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClassListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClassInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q38:ClassInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClassInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClassInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetStudentInfoResult" nillable="true" type="q39:ArrayOfStudentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q40:StudentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertStudentInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q41:StudentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStudentInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassRoomInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassRoomInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetClassRoomInfoResult" nillable="true" type="q42:ArrayOfClassRoomInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClassRoomInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q43:ClassRoomInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClassRoomInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertClassRoomInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassRoomInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassRoomInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClassRoomInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassRoomList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassRoomListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClassRoomListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClassRoomInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q44:ClassRoomInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClassRoomInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClassRoomInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCalendarInfoResult" nillable="true" type="q45:ArrayOfCalendarInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAcademicYearInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q46:AcademicYearInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAcademicYearInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAcademicYearInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcademicYearInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcademicYearInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAcademicYearInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcademicYearList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcademicYearListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAcademicYearListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcademicYearInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q47:AcademicYearInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcademicYearInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAcademicYearInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTableInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTableInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetTimeTableInfoResult" nillable="true" type="q48:ArrayOfTimetableInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimetableInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="TimetableInfoList" nillable="true" type="q49:ArrayOfTimetableInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimetableInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTimetableInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTableitemInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTableitemInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetTimeTableitemInfoResult" nillable="true" type="q50:ArrayOfTimetableitemInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTPostInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTPostInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetTPostInfoInfoResult" nillable="true" type="q51:ArrayOfTPostInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTPostInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q52:TPostInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTPostInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTPostInfoInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTPostInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTPostInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTPostInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTPostInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idlist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTPostInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTPostInfoListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTPostInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q53:TPostInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTPostInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTPostInfoInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTReplyInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTReplyInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetTReplyInfoInfoResult" nillable="true" type="q54:ArrayOfTReplyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTReplyInfoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q55:TReplyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTReplyInfoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTReplyInfoInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Progress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalProgress" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownFileContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/jg.Mes.Service" minOccurs="0" name="currentDownFile" type="q56:CustomFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownFileContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownFileContractResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpLoadFileContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/jg.Mes.Service" minOccurs="0" name="currentDownFile" type="q57:CustomFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpLoadFileContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpLoadFileContractResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_DirSourceClassInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_DirSourceClassInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_DirSourceClassInfoResult" nillable="true" type="q58:ArrayOfCPDPM_DirSourceClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_Source_FullInfo_ViewInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_Source_FullInfo_ViewInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_Source_FullInfo_ViewInfoResult" nillable="true" type="q59:ArrayOfCPDPM_Source_FullInfo_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ResId" type="q60:guid" />
        <xs:element minOccurs="0" name="From" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownLoadAssetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadAssetThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadAssetThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownLoadAssetThumbnailResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCPDPM_EnCourseWareSourceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="info" nillable="true" type="q62:CPDPM_EnCourseWareSource" />
        <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCPDPM_EnCourseWareSourceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCPDPM_EnCourseWareSourceInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpLoadCourceWare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Key" type="q63:guid" />
        <xs:element minOccurs="0" name="From" type="xs:long" />
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpLoadCourceWareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpLoadCourceWareResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttLanguageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttLanguageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_AttLanguageInfoResult" nillable="true" type="q64:ArrayOfCPDPM_AttLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttContextInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttContextInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_AttContextInfoResult" nillable="true" type="q65:ArrayOfCPDPM_AttContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttDiffcultyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttDiffcultyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_AttDiffcultyInfoResult" nillable="true" type="q66:ArrayOfCPDPM_AttDiffculty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttInteractivityTypeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttInteractivityTypeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_AttInteractivityTypeInfoResult" nillable="true" type="q67:ArrayOfCPDPM_AttInteractivityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttInteractivityLevelInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttInteractivityLevelInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_AttInteractivityLevelInfoResult" nillable="true" type="q68:ArrayOfCPDPM_AttInteractivityLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttMachineInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttMachineInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_AttMachineInfoResult" nillable="true" type="q69:ArrayOfCPDPM_AttMachine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttOSInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPDPM_AttOSInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/jg.Mes.Model" minOccurs="0" name="GetCPDPM_AttOSInfoResult" nillable="true" type="q70:ArrayOfCPDPM_AttOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>