jg.Editor/jg.Editor/Service References/MINIService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.jingge.com/Mes" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MiniEditor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMiniEditor_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.jingge.com/Mes" location="" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_IMiniEditor" type="i0:IMiniEditor">
    <wsp:PolicyReference URI="#NetTcpBinding_IMiniEditor_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DeleteTReplyInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTReplyInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTReplyInfoList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTReplyInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTReplyInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateTReplyInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTJudgeInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetTJudgeInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTJudgeInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertTJudgeInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTJudgeInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTJudgeInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTJudgeInfoList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTJudgeInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTJudgeInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateTJudgeInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTStudentBBSInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetTStudentBBSInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTStudentBBSInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertTStudentBBSInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTStudentBBSInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTStudentBBSInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTStudentBBSInfoList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTStudentBBSInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTStudentBBSInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateTStudentBBSInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTTeacherBBSInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetTTeacherBBSInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTTeacherBBSInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertTTeacherBBSInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTTeacherBBSInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTTeacherBBSInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTTeacherBBSInfoList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTTeacherBBSInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTTeacherBBSInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateTTeacherBBSInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorityUIInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetAuthorityUIInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetLoginList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Loignsend">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/Loignsend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="HelloException">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/HelloException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloFaultException">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/HelloFaultException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloFaultExceptionGeneric">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/HelloFaultExceptionGeneric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloIErrorHandler">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/HelloIErrorHandler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessageFault">
        <soap12:fault use="literal" name="FaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoginStudent">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/LoginStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SqlBackup">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/SqlBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemLogInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetSystemLogInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSystemLogInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertSystemLogInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authority">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/Authority" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorityInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetAuthorityInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRole_AuthorityInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetRole_AuthorityInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetRoleInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictionary_BusinessInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetDictionary_BusinessInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictionary_PositionalTitle">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetDictionary_PositionalTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcademicYearInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetAcademicYearInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRoleInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertRoleInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteRoleInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteRoleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRoleInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateRoleInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetEmployeeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployeeInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertEmployeeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteEmployeeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteEmployeeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateEmployeeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee_classInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetEmployee_classInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetDepartmentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDepartmentInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertDepartmentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartmentInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteDepartmentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartmentList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteDepartmentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateDepartmentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetClassInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClassInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertClassInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClassInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteClassInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClassList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteClassList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClassInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateClassInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudentInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteStudentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassRoomInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetClassRoomInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClassRoomInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertClassRoomInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClassRoomInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteClassRoomInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClassRoomList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteClassRoomList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClassRoomInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateClassRoomInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetCalendarInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAcademicYearInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertAcademicYearInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAcademicYearInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteAcademicYearInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAcademicYearList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteAcademicYearList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAcademicYearInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateAcademicYearInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTableInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetTimeTableInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTimetableInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/AddTimetableInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTableitemInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetTimeTableitemInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTPostInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetTPostInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTPostInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertTPostInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTPostInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTPostInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTPostInfoList">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DeleteTPostInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTPostInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpdateTPostInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTReplyInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/GetTReplyInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTReplyInfoInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/InsertTReplyInfoInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/ShowMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Progress">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/Progress" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownFileContract">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/DownFileContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpLoadFileContract">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IUser/UpLoadFileContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_DirSourceClassInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_DirSourceClassInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_Source_FullInfo_ViewInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_Source_FullInfo_ViewInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadAsset">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/DownLoadAsset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadAssetThumbnail">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/DownLoadAssetThumbnail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCPDPM_EnCourseWareSourceInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/InsertCPDPM_EnCourseWareSourceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpLoadCourceWare">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/UpLoadCourceWare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_AttLanguageInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_AttLanguageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_AttContextInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_AttContextInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_AttDiffcultyInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_AttDiffcultyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_AttInteractivityTypeInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_AttInteractivityTypeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_AttInteractivityLevelInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_AttInteractivityLevelInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_AttMachineInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_AttMachineInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCPDPM_AttOSInfo">
      <soap12:operation soapAction="http://www.jingge.com/Mes/IMiniEditor/GetCPDPM_AttOSInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiniEditor">
    <wsdl:port name="NetTcpBinding_IMiniEditor" binding="tns:NetTcpBinding_IMiniEditor">
      <soap12:address location="net.tcp://10.10.20.248:9001/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://10.10.20.248:9001/Service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>